.newAnime {
  flex: 4;
}

.addAnimeForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addAnimeItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 2em;
}

.addAnimeItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addAnimeItem > input {
  padding: 10px;
}

.addAnimeItem > select {
  padding: 10px;
}

.addAnimeButton {
  height: 2rem;
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
