.newAnime {
  flex: 4;
  .addAnimeTitle{
    margin-left: 2em;
    color: #ffff;
    text-shadow: 1px solid rgba(0, 0, 0, 0.75);
  }
}

.addAnimeForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addAnimeItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 2em;
  cursor: pointer;
}

.addAnimeItem > label {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 10px;
}

.addAnimeItem > input {
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.addAnimeItem > select {
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.addAnimeButton {
  height: 2rem;
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(33, 21, 156);
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
