@import "../../App.scss";
.Register{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 100%),
                url("https://images3.alphacoders.com/144/144565.jpg") no-repeat;
    background-size: cover;
    &__top{
        .wrapper{
            padding: 1.25em 3.125em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                height: 3rem;
                transform: scale(3);
            }
            .btn-login{
                background-color: var(--primary-clr);
                border: none;
                color: var(--primary-white-clr);
                border-radius: 0.3125rem;
                padding: 0.3125em 0.9375em;
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
                z-index: 3;
                &:hover{
                    color: black;
                    background-color: rgb(255, 52, 49);
                }

            }
        }
    }
    &__bottom{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--primary-white-clr);
       
        .wrapper{
            width: 90vw;
            background-color: rgb(18, 18, 18, 0.5);
            padding: 3.125em;
            box-shadow: 0 0 0.6rem hsl(0, 0%, 16%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h1{
            width: 90vw;
            text-align: center;
            font-size: 3rem;
            @include mobile{
                font-size: 2rem;
            }
        }

        h2{
            margin: 1.25em;
            text-align: center;
            @include mobile{
                font-size: 1rem;
            }
        }
        p{
            font-size: 1.25rem;
            @include mobile{
                font-size: 0.6rem;
            }
        }
        .input{
            width: 85%;
            background-color: var(--primary-white-clr);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.25em;
            height: 3.125rem;
            border-radius: 0.3125rem;

            input{
                flex: 9;
                height: 100%;
                border: 0.1rem solid rgba(0, 0, 0, 0.1);
                padding: 0 0.625em;
            }
            .btn-register{
                flex: 3;
                background-color: var(--primary-clr);
                height: 100%;
                border: none;
                
                color: var(--primary-white-clr);
                font-size: 1.19rem;
                cursor: pointer;
               
                &:hover{
                    color: black;
                    background-color: rgb(255, 52, 49);
                }
                @include mobile{
                    font-size: 0.8rem;
                }
            }
            
        }
    }
}
