body{
    background:linear-gradient(to top, rgba(46, 52, 130,0.9), rgba(107, 38, 124,0.7));
}

.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}