body{
    background: linear-gradient(145deg, rgb(235, 168, 255), rgb(165, 129, 206));
}

.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}