@import "../../App.scss";
.MenuLabel {
    position: fixed;
    top: 0;
    left: 2.1rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
    
    &--icon {
        position: relative;
        background-color: var(--primary-white-clr);
        width: 2.3rem;
        height: 0.2rem;
        display: inline-block;
        border-radius: 10rem;
        margin-top: 2rem;
        transition: all 0.3s;
        &.clicked {
            background-color: transparent;
            
        }
        &::before,
        &::after {
            content: "";
            background-color: var(--primary-white-clr);
            width: 2.3rem;
            border-radius: 10rem;
            height: 0.2rem;
            display: inline-block;
            position: absolute;
            left: 0;
            transition: all 0.3s;
        }

        &::before {
            top: -0.6rem;
            transform: rotate(0);
            &.clicked {
                top: 0;
                transform: rotate(-135deg);
                
                
            }
            

        }

        &::after {
            top: 0.6rem;
            transform: rotate(0);
            

        }

        &.clicked::before {
            top: 0;
            transform: rotate(-135deg);
            @include big-tablet{
                position: relative;
                transform: rotate(180deg);
            }
        }

        &.clicked::after {
            top: 0;
            transform: rotate(135deg);
            @include big-tablet{
                
                transform: rotate(180deg);
            }
            
        }


    }
    &:hover &--icon::before {
        top: 0;
        &.clicked {
            top: -0.7rem;

        }
        @include big-tablet{
            top: -0.7rem;
        }
        

    }
    &:hover &--icon::after {
        top: 0;
        &.clicked {
            top: 0.7rem;
            
        }
        @include big-tablet{
            top: 0.7rem;
        }
        

    }


}
.navBackground {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(rgba(0, 0, 0,0.1),rgba(0, 0, 0,0.9));
    height: 0;
    width: 0;
    z-index: 600;
    transition: transform 0.3s;
    overflow: hidden;
    &.clicked {
        height: 52vh;
        width: 20vw;
        @include mini-mobile{
            width: 80vw;
            height: 40vh;
        }
        @include mobile{
            width: 30vw;
        }
        
    }
}
.navigation {
    height: 70vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    opacity: 0;
    transition: all 0.2s;
    &.clicked {
        width: 15vw;
        opacity: 1;
    }

    .list {
        position: absolute;
        list-style: none;
        height: 100%;
        width: 133%;
        top: 3.1rem;
        text-align: center;
        &--items {
            margin-bottom: 0.6em;
            padding: 5% 0;
            background-color: transparent;
            &__link {
                font-size: 1.2rem;
                font-weight: 500;
                margin: 1em 0;
                text-decoration: none;
                color: var(--primary-white-clr);
                transition: all 0.3s;
                cursor: pointer;
                &:hover,
                &:active {
                    color: var(--primary-clr);
                }
                @include mini-mobile{
                    font-size: 0.9rem;
                }

            }
            
            &:hover,
            &:active {
                background-color: rgb(22, 22, 22);
                color: lightgray;
            }

            &:hover .logout{
                background-color: green;
            }
            
            &:hover .list--items__link {
                color: var(--primary-clr);
            }
            &:active {
                background-color: rgb(22, 22, 22);
            }
            &:hover .logout-link{
                color: var(--primary-clr);
            }
            
        }
        .logout{
            &:hover{
            outline: 0.10rem solid var(--primary-clr);
            outline-offset: -0.5rem;
            background-color: transparent;
        }
        }
        
    }
    
    
}


