.MenuLabel {
    position: fixed;
    top: 0;
    left: 2.1rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
    &--icon {
        position: relative;
        background-color: var(--primary-white-clr);
        width: 2.3rem;
        height: 0.2rem;
        display: inline-block;
        border-radius: 10rem;
        margin-top: 2rem;
        transition: all 0.3s;
        &.clicked {
            background-color: transparent;
        }
        &::before,
        &::after {
            content: "";
            background-color: var(--primary-white-clr);
            width: 2.3rem;
            border-radius: 10rem;
            height: 0.2rem;
            display: inline-block;
            position: absolute;
            left: 0;
            transition: all 0.3s;
        }

        &::before {
            top: -0.6rem;
            transform: rotate(0);
            &.clicked {
                top: 0;
                transform: rotate(-135deg);
            }

        }

        &::after {
            top: 0.6rem;
            transform: rotate(0);

        }

        &.clicked::before {
            top: 0;
            transform: rotate(-135deg);
        }

        &.clicked::after {
            top: 0;
            transform: rotate(135deg);
        }


    }
    &:hover &--icon::before {
        top: 0;
        &.clicked {
            top: -0.7rem;
        }

    }
    &:hover &--icon::after {
        top: 0;
        &.clicked {
            top: 0.7rem;
        }

    }


}
.navBackground {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(#000, var(--primary-dark-clr));
    height: 0;
    width: 0;
    z-index: 600;
    transition: transform 0.3s;
    &.clicked {
        height: 60vh;
    width: 20vw;
    }
}
.navigation {
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    width: 0;
    opacity: 0;
    transition: all 0.2s;
    &.clicked {
        width: 15vw;
        opacity: 1;
    }

    .list {
        position: absolute;
        list-style: none;
        height: 100%;
        width: 133%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        top: 2rem;
        text-align: center;
        &--items {
           padding: 0 15vw;
            &__link {
                display: inline-block;
                font-size: 1.2rem;
                font-weight: 500;
                margin: 1em 0;
                text-decoration: none;
                color: var(--primary-white-clr);
                transition: all 0.3s;
                cursor: pointer;
                &:hover,
                &:active {
                    color: var(--primary-clr);
                }
            }
            &:active {
                background-color: #0000;
            }
        }
    }
}
