.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background:linear-gradient(to top, rgb(235, 168, 255), rgb(165, 129, 206));
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #000;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: #eeee;
  text-decoration: underline;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active{
  border: 1px solid;
  border-color: rgb(240, 240, 255);
}
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}
.logout:hover{
    background-color: rgba(67, 255, 46, 0.665);
  
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
