@import "../../app.scss";

.Hero{
    position: relative;
    height: 90vh;
    object-fit: contain;
    img{
        height: 100%;
        width: 100%;
        
    }
    .category{
        position: absolute;
        top: 5rem;
        left: 3.125rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--primary-white-clr);
        display: flex;
        align-items: center;
        span{
            margin-top: 1em;
        }
        select{
            background: var(--primary-dark-clr);
            border: 0.05rem solid var(--primary-white-clr);
            color: var(--primary-white-clr);
            margin-top: 1.3em;
            margin-left: 1em;
            cursor: pointer;
            padding: 0.3em;
            z-index: 999;

        }
    }
    .info{
        position: absolute;
        color: var(--primary-white-clr);
        left: 3.125rem;
        bottom: 6.25rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        
        img{
            aspect-ratio: 2/1;
            object-fit: contain;
        }

        .desc{
            margin: 0 0 1rem 0;
            font-size: 1rem;
            font-style: italic;
            background-color: rgba($color: #000000, $alpha: 0.3);
            @include mobile{
                width: 60vw;
                font-size: 0.8rem;
            }
            @include mini-mobile{
                width: 50vw;
            }
        }

        .buttons{
            display: flex;
            button{
                padding: 0.6em 1.25em;
                text-decoration: none;
                font-weight: 500;
                font-size: 1.1rem;
                border: none;
                border-radius: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 0.5em;
                cursor: pointer;

                &.play{
                    color: var(--primary-dark-clr);
                    background-color: var(--primary-white-clr);
                }

                &.more{
                    color: var(--primary-white-clr);
                    background-color: grey;
                }

                span{
                    margin-left: 0.312em;
                }
            }
        }
    }


}
