@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Secular+One&display=swap');
.Watch{
    background-color: var(--primary-dark-clr);
    .video-container{
        height: 100vh;
        position: relative;
        .back{
            position: absolute;
            display: flex;
            align-items: center;
            top: 0.5rem;
            left: 0.5rem;
            color: var(--primary-white-clr);
            z-index: 20;
            top: 3.5rem;
            left: 4.5rem;
            cursor: pointer;
        }
        .video{
            width: 90%;
            height: 90%;
            position: relative;
            border-radius: 1rem;
            top: 3.5rem;
            left: 4.5rem;
        }
    }
    
    
    .info-container{
        .container {
            color: white;
            background-color: var(--primary-dark-clr);
            
          }
          .main {
            position: relative;
            overflow:auto;
            height: auto;
            width: 65vw;
            border-radius: 0.5rem;
            padding: 0.3rem;
            background: hsla(0, 0%, 0%, 0);
            backdrop-filter: blur(0.5rem);
            -webkit-backdrop-filter: blur(0.5rem);
            border-radius: 1rem;
            border: 0.1 solid rgba(255, 255, 255, 0.18);
            display: flex;
            align-items: center;
            text-align: left;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: auto;

          }
          .col1 {
            border-radius: 12px;
            height: auto;
            width: 250px;
          }
          .col2 {
            border-radius: 12px;
            height: auto;
            width: 250px;
          }
          .model {
            max-width: 100%;
            height: auto;
            border-radius: 12px;
          }
          .name{
             font-family: Open Sans;
           }
          .info{
            font-family:"Secular One"
          }
          
    }
}